#board{
    width: 450px;
    height: 450px;
    background-color: #0b0b45;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: white
}

.tile{
    width: 147px;
    height: 147px;
    font-size: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-line{
    border-bottom: 3px solid white;
}

.vertical-line{
    border-right: 3px solid white;
}

.winner{
    background-color: cadetblue;
    color: lawngreen;
}